<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分析歷史紀錄</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
    <h1>歷史分析結果</h1>
    <div class="card card--narrow">
        <a href="{{ url_for('Main') }}"><button class="btn btn-primary">返回</button></a>
    </div>
    {% if results and results|length > 0 %}
        {% for result in results %}
            <div class="card card--narrow">
                <h3>疾病類型：{{ result['result1'] }}</h3>
                <h3>信心程度：{{ (result['confidence1'] * 10000 // 1 / 100) | round(2)}}%
                    {% if result['confidence1'] < 0.8 %}
                        <span style="color: red;">
                            (信心程度低於80%，建議做詳細檢查)
                        </span>
                    {% endif %}
                </h3>
                {% if result['result2'] %}
                    <h3>疾病類型：{{ result['result2'] }}</h3>
                {% endif %}
                {% if result['confidence2'] %}
                    <h3>信心程度：{{ (result['confidence2'] * 10000 // 1 / 100) | round(2)}}%
                        {% if result['confidence2'] < 0.8 %}
                            <span style="color: red;">
                                (信心程度低於80%，建議做詳細檢查)
                            </span>
                        {% endif %}
                    </h3>
                {% endif %}
                <h3>音檔播放：</h3>
                <audio controls src="{{ result['audio_src'] }}"></audio>
                <h3>時間：{{ result['created_at'] }}</h3>
            </div>
        {% endfor %}
    {% else %}
        <div class="card card--narrow">
            <h3 style="color: red;">目前沒有分析結果。</h3>
        </div>
    {% endif %}
</body>
</html>